@model IEnumerable<RealEstateAspNetCore3._1.Models.Advertisement>




@{ int i = 0;}
@foreach (var item in Model)
{
    i++;
    var c = 1;
    var active = i == 1 ? "active" : "";
    <div class="item @active">
        @foreach (var rsm in ViewBag.imgs)
        {
            if (rsm.AdvId == item.AdvId)
            {
                if (@c == 1)
                {
                    <a href="/Home/Details/@item.AdvId"> <img src="~/Uploads/@rsm.AdvPhotoName" alt="Click On photo to redirect you To Adv" style="width:1150px;height:450px;"></a>
                    c++;
                }
            }
        }


    </div>
}