@*@using RealEstateAspNetCore3._1.Models
@model RealEstateAspNetCore3._1.Models.Tip

<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    @Model.Status.StatusName <span class="caret"></span>
</a>*@
