@model RealEstateAspNetCore3._1.Models.Advertisement

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <!--Filtreleme-->




        <br />
        <div class="col-md-9">
            <div class="thumbnail" style="width:845px">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/Admin/Index"> Admin Panel</a></li>
                        <li class="breadcrumb-item"> <a href="/Status/index"> Status  Listesi</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Status </li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NumOfRoom" class="control-label"></label>
                                <input asp-for="NumOfRoom" class="form-control" />
                                <span asp-validation-for="NumOfRoom" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NumOfBath" class="control-label"></label>
                                <input asp-for="NumOfBath" class="form-control" />
                                <span asp-validation-for="NumOfBath" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Credit" /> @Html.DisplayNameFor(model => model.Credit)
                                </label>
                            </div>
                            <div class="form-group">
                                <label asp-for="Area" class="control-label"></label>
                                <input asp-for="Area" class="form-control" />
                                <span asp-validation-for="Area" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Floor" class="control-label"></label>
                                <input asp-for="Floor" class="form-control" />
                                <span asp-validation-for="Floor" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Feature" class="control-label"></label>
                                <input asp-for="Feature" class="form-control" />
                                <span asp-validation-for="Feature" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Telephone" class="control-label"></label>
                                <input asp-for="Telephone" class="form-control" />
                                <span asp-validation-for="Telephone" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Addres" class="control-label"></label>
                                <input asp-for="Addres" class="form-control" />
                                <span asp-validation-for="Addres" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CityId" class="control-label"></label>
                                <input asp-for="CityId" class="form-control" />
                                <span asp-validation-for="CityId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DistrictId" class="control-label"></label>
                                <input asp-for="DistrictId" class="form-control" />
                                <span asp-validation-for="DistrictId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NeighborhoodId" class="control-label"></label>
                                <select asp-for="NeighborhoodId" class="form-control" asp-items="ViewBag.NeighborhoodId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="TypeId" class="control-label"></label>
                                <input asp-for="TypeId" class="form-control" />
                                <span asp-validation-for="TypeId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <a asp-action="Index">Back to List</a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>