@using Microsoft.AspNetCore.Identity
@using RealEstateAspNetCore3._1.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstateAspNetCore3._1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
</head>

<body>

    <header>
        <!--Menu-->
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="padding:10px" href="/Home/index"><img src="/images/logo.png" width="110" height="35" /> </a>
                     
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        @*Search Partial*@
                         @await Component.InvokeAsync("SearchPartial")

                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                @*Emlak durum filtre1*@
                                @await Component.InvokeAsync("StatusNameOne")
                                <ul class="dropdown-menu">
                                    @*Emalk tipi listesi1*@
                                    @await Component.InvokeAsync("StatusTipOne")

                                </ul>
                            </li>
                            <li class="dropdown">
                                @*Emlak durum filtre2*@
                                @await Component.InvokeAsync("StatusNameTwo")
                                <ul class="dropdown-menu">
                                    @*Emalk tipi listesi2*@
                                    @await Component.InvokeAsync("StatusTipTwo")
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" style="padding-right:10px;">
                            @*Login partial sayfasini yukler*@
                            <partial name="_LoginPartial" />

                        </ul>


                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

    </header>

    @RenderBody()
    <hr />
    <br />
    <hr />
    <a href="https://wa.me/0090" class="whatsapp_float" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
    <footer>
        <div class="container">

            <div class="row" style="background-color:black; margin-bottom:0; padding-top:20px; padding-left:40px;">
                <div class="col-md-3">
                    <p style="color:white;">Quick Links</p>
                    <ul>
                        <li><a href="#" style="color:white">Kiralik</a></li>
                        <li><a href="#" style="color:white">Satlık</a></li>
                        <li><a href="#" style="color:white">Takas</a></li>
                    </ul>
                    <hr />
                    <ul class="list-unstyled">
                        <li><a href="/Account/Login" style="color:white">Login</a></li>
                        <li><a href="/Account/Register" style="color:white">Register</a></li>
                    </ul>
                </div>
                <div class="col-md-3">


                    <h5 class="text" style="color:white"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> nermin@gmail.com  </h5>


                    <h5 class="text-uppercase" style="color:white"><i class="fa fa-volume-control-phone fa-2x" aria-hidden="true"></i> 0090531 </h5>


                    <h5 class="text-uppercase" style="color:white"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> >Şanlıurfa </h5>



                    <h5 class="text-uppercase" style="color:white"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i> +90531 </h5>



                </div>
                <div class="col-md-3 ">
                    <h5 class="text" style="color:white">Follow Us </h5>
                    <ul class="list-unstyled">
                        <li>

                            <section class="mb-4">
                                <!-- Facebook -->

                                <a class="btn btn-primary btn-floating m-1"
                                   style="background-color: #3b5998;"
                                   href="#"
                                   role="button"
                                   target="_blank">
                                    <i class="fa fa-facebook-f fa-2x"></i>
                                </a>



                                <!-- Twitter -->

                                <a class="btn btn-primary btn-floating m-1"
                                   style="background-color: #55acee;"
                                   href="#"
                                   role="button"
                                   target="_blank">
                                    <i class="fa fa-twitter fa-2x"></i>
                                </a>





                                <!-- Instagram -->

                                <a class="btn btn-primary btn-floating m-1"
                                   style="background-color: #ac2bac;"
                                   href="#"
                                   role="button"
                                   target="_blank">
                                    <i class="fa fa-instagram  fa-2x"></i>
                                </a>


                                <!-- youtube -->

                                <a id="box" class="btn btn-primary btn-floating m-1"
                                   style="background-color: #cf3434;"
                                   href="#"
                                   role="button"
                                   target="_blank">
                                    <i class="fa fa-youtube fa-2x"></i>
                                </a>





                            </section>
                        </li>

                    </ul>

                </div>
                <section>
                    <div class="col-md-3">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101740.40987536979!2d38.89586579879953!3d37.16725373827293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x153471ebdc619091%3A0x8e788516b709466c!2z2KfZiNix2YHYqdiMINmF2K3Yp9mB2LjYqSDYo9mI2LHZgdip!5e0!3m2!1sar!2str!4v1628281379440!5m2!1sar!2str" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </section>


                <div class="row">
                    <p style="text-align: center ;font-size: 15px; padding-top:50px ; color:white;">
                        Copyright &copy; 2017-
                        <script>document.write(new Date().getFullYear())</script> Nermin  All Rights Reserved
                    </p>
                </div>
            </div>



        </div>



    </footer>


     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="http://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js" ></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>


