@*Identity paketlerini yükler*@
@using Microsoft.AspNetCore.Identity
@using RealEstateAspNetCore3._1.Identity

@*burda Application user'in kütüphanesini yükler*@

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@*// Eğer girişi yapıldı ise*@
@if (User.Identity.IsAuthenticated)
{
    //   Eğer girişi yapan kullanıcı Admin ise bu linkleri göster ( sadece admin için
    @if (User.IsInRole("admin"))
    {
        <li>  <a class="btn btn-group-sm" href="/Admin/Index">Admin Panel </a></li>

    }
    @*<li> <a href="/Account/Profile" id="manage" class="btn btn-link" title="Welcome">Hello @UserManager.GetUserName(User)..!</a></li>*@


    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Menü <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
            <li> <a asp-controller="Advertisement" asp-action="Index" id="manage" class="btn btn-link" title="Welcome">İlanlarım</a></li>
            <li> <a asp-controller="Account" asp-action="Profile" class="btn btn-link" title="Welcome">Profile</a></li>
        </ul>
    </li>

    // burdaki linkler admin ve normal kullanıcı için gösterir
    <div class=" nav navbar-nav navbar-right " style="padding-top:10px;">
        <form id="logoutForm" class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-danger text-dark">Logout</button>

        </form>
    </div>
    <a asp-controller="Advertisement" asp-action="Create" class="btn btn-primary" style="margin-top:10px; margin-right:5px;">ilan Oluştur</a>

}
// eğer giriş yapılmadı ise Login ve Register buttonları gösteriri
else
{

    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary text-dark" style="margin-top:10px;"><i class="fa fa-sign-in" aria-hidden="true"> </i> Register</a>


    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="btn btn-success" style="margin-top: 10px;"><i class="fa fa-users"></i>Login</a>

    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary" style="margin-top: 10px;">ilan Oluştur</a>


}






