@model RealEstateAspNetCore3._1.Models.Status

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <!--Filtreleme-->




        <br />
        <div class="col-md-9">
            <div class="thumbnail" style="width:845px">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/Admin/Index"> Admin Panel</a></li>,,
                        <li class="breadcrumb-item"> <a href="/Status/Index"> Status List</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Status Details</li>
                    </ol>
                </nav>

                <hr />
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StatusName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StatusName)
                    </dd>
                </dl>
            </div>
            <div>
                <a style="margin-left:50px; margin-bottom:10px;" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.StatusId">Edit</a> |
                <a style="margin-bottom: 10px;" class="btn btn-danger" asp-action="Index">Back to List</a>
            </div>
        </div>

    </div>

</div>
